.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: gray;
    background-color: white;
}

.table tr:nth-last-of-type(odd){
    background-color:lightgray;
}

.table tr{
    display: flex;
    justify-content: space-between;

}

.table td{
    padding:0.5rem;
}